* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.app-bar {
  display: flex;
  padding: 20px;
  align-items: center;
  background: #088537;
  justify-content: space-between;
}

.logo {
  gap: 12px;
  display: flex;
  align-items: center;
}

.logo > span {
  color: #fff;
}

.logo > h2 {
  color: #fff;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar > ul {
  gap: 24px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item > a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: text-decoration 1s ease;
}

.nav-item > a:hover {
  text-decoration: underline;
}

.banner-hero {
  background-color: #088537;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 69px);
  gap: 24px;
  font-size: 18px;

  p {
    color: #fff;
  }
  span {
    color: #fff;
    font-size: 38px;
  }
}

.city-weather {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.sun {
  width: 68px;
  height: 68px;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: rgba(208, 253, 194, 0.2);
}

.sun > i {
  display: flex;
  color: #fff;
  font-size: 32px;
  align-items: center;
  justify-content: center;
}

.temperature {
  font-weight: 900;
  font-size: 38px;
}

.graus {
  gap: 24px;
}

.container-graus {
  display: flex;
  gap: 24px;
}

@media (max-width: 425px) {
  .nav-bar {
    display: none;
  }

  .app-bar {
    justify-content: center;
  }
}
